<div class="header">
  <div class="content">
    <p class="brandon">Working With Ideas</p>
    <p class="byline brandon">THANK YOU FOR SIGNING UP</p>
  </div>
</div>

<div class="hero">
  <div class="page-content clearfix">
    <div class="share-wrap">
      <p class="why brandon">Don't leave your friends behind</p>
      <p class="title brandon">Get the course for FREE</p>
      <p class="subtitle brandon">Share your unique link via email, Facebook<br>or Twitter and get $3 off for<br>each friend who signs up.</p>
      <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
      <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
      <div class="share-background"></div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.each { |stop|
    if stop["count"] == referrals_count
      stop["selected"] = true
      stop["passed"] = false
      found = stop
    elsif stop["count"] < referrals_count
      stop["selected"] = false
      stop["passed"] = true
    else
      stop["selected"] = false
      stop["passed"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout brandon">Your Numbers:</p>
    <ul class="products clearfix">
      <li class="title brandon"><p class="friends">Friends:<span class="mobile"> <%= @user.referrals.count %></span></p><p class="rewards">Discount:<span class="mobile"> <%= found["html"].html_safe %></span></p></li>
      <% stops.each do |stop| %>
        <li class="product brandon <%= stop["class"] %> <% if stop["selected"] %>selected<% end %> <% if stop["passed"] %>passed<% end %> <% if stop["class"] == 'twenty' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>
        </li>
      <% end %>
    </ul>

    <%
      words = ''
      if referrals_count == 1
        words = 'friend has'
      elsif
        words = 'friends have'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check brandon">Keep checking</p>

    <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
  </div>
</div>